body {
    background-image: url("https://images.unsplash.com/photo-1762019272832-c92e746f45cd?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    background: red;
    color: yellow;
    text-align: center;
    border: 5px solid yellow

}

ul {
    text-align: center;
    background: none;
    margin: 50px;
    color: yellow;
    border: 5px solid yellow
}
